body
{
    font-size: x-small;
}

iframe
{
    display: none;
}

.word
{
    border: 1px solid;
    padding: 10px 10px 10px 10px;
    font-size: 1.5em;
}
.word_name, .word_link
{
    color: purple;
    font-weight: bold;
    font-size: 1.2em;
}
.word_reference
{
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    color: purple;
}
.word_usage
{
    float: right;
    font-size: 1em;
    font-style: italic;
}
.word_usage_from
{
    font-weight: bold;
}
.word_usage_from:after
{
    content: "-";
    font-weight: normal;
}
.word_usage_to
{
    font-weight: bold;
}
.previous_word, .next_word
{
    padding-left: 1em;
}
.word_audio
{
    margin-left: 1em;
}

.entry
{
    padding-left: 1em;
}
.entry .entry_number
{
    margin-left: -1em;
    font-style: italic;
    font-size: 1.2em;
}
.entry_text
{
    padding-top: 10px;
}
.entry_text strong
{
    font-size: 1.2em;
}
.entry_name
{
    font-weight: bold;
    font-size: 1.2em;
}
.speech_part, .entry_note, .form_note
{
    font-weight: normal;
    font-style: italic;
}

.forms, .collocations, .notes
{
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid;
}

.forms
{
    border-color: green;
}
.collocations
{
    border-color: blue;
}
.forms .pron, .forms .pron_us
{
    font-size: 1em;
}
.form_name, .collocation_name
{
    font-weight: bold;
}

.audio_uk
{
    background-color: #C6CFA5;
}
.audio_us
{
    background-color: #A8E0E0;
}
.audio_button
{
    font-weight: bold;
    margin-left: 0.2em;
    margin-right: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 0.7em;
    vertical-align: text-top;
    border-radius: 10px;
}
.word_audio .audio_button, .entry_audio .audio_button
{
    margin-left: 0px;
    margin-right: 1em; 
    margin-top: 20px;
    margin-bottom: 10px; 
    font-size: 1em;
}

.pron, .pron_us
{
    font-weight: bold;
    color: blue;
    font-size: 1.2em;
}
.pron em, .pron_us em
{
    font-weight: normal;
    color: blue;
}
.pron_us:before, .pron_us_alt:before
{
    content: "AmE ";
    font-weight: bold;
    font-style:italic;
    color: green;
}
.pron_other
{
    color: default;
}
.pron_other:before
{
    content: "[";
}
.pron_other:after
{
    content: "]";
}
.pron_note
{
    font-weight: normal;
    font-style: italic;
    color: black;
    font-size: 0.9em;
}
.pron_separator
{
    font-weight: bold;
    color: black;
    margin-right: 5px;
}

.ldoce_fragment
{
    margin-top: 1.5em;
}
.mw_fragment
{
    margin-top: 1em;
}
.ldoce_fragment .dic_header:before
{
    content: "LDOCE";
    font-weight: bold;
    font-style:italic;
    color: green;
}
.mw_fragment .dic_header:before
{
    content: "Merriam-Webster";
    font-weight: bold;
    font-style:italic;
    color: green;
}
.dic_content
{
    margin-left: 1em;
    padding-top: 5px;
    padding-bottom: 5px;
}
.dic_entry .entry_number
{
    font-weight: bold;
}

.stress_low:before
{
    content: "ˌ";
    font-weight: bold;
    font-size: 1.2em;
    color: blue;
}
.stress_low_optional
{
    font-weight: normal;
    color: blue;
}
.stress_up:before
{
    content: "ˈ";
    font-weight: bold;
    font-size: 1.2em;
    color: blue;
}
.stress_shift:before, .stress_shift:before
{
    content: " ◂";
    font-weight: bold;
    color: blue;
}

.lang 
{
    font-style:italic;
    color: green;
}
.lang_variant 
{
    font-style:italic;
    font-size: 0.9em;
}

.sample 
{
    color: maroon;
}

.poll_image
{
    display:block;
}

h1
{
	font-size: 1.6em;
}
.topword_items
{
    margin-top: 2em;
    margin-bottom: 5em;  
}
.topword_number
{
    font-weight: bold;
    font-size: 1em;
}
.topword_item .word_link
{
    font-size: 1.3em;
}
.page_scroll
{
    float: right;
}
.underlined_text
{
    text-decoration: underline;
}