<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Pronunciation.Trainer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Pronunciation.Trainer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
  <connectionStrings>
    <!--<add name="Entities" connectionString="metadata=res://*/Database.SQLServer.PronunciationModel.csdl|res://*/Database.SQLServer.PronunciationModel.ssdl|res://*/Database.SQLServer.PronunciationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=COMP1\SQLEXPRESS;initial catalog=Pronunciation;integrated security=True;pooling=False;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="Entities" connectionString="metadata=res://*/Database.SQLCompact.PronunciationModel.csdl|res://*/Database.SQLCompact.PronunciationModel.ssdl|res://*/Database.SQLCompact.PronunciationModel.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\PronunciationTrainer.sdf&quot;" providerName="System.Data.EntityClient" />
    <add name="LPD" connectionString="Data Source=|DataDirectory|\LPD.sdf;Max Database Size=2000;"/>
  </connectionStrings>
  <!-- Sample rate can be any, but recommended are: 8000, 16000, 22050, 44100 (CD quality)-->
  <userSettings>
    <Pronunciation.Trainer.Properties.Settings>
      <setting name="StartupMode" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="RecordedMode" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ReferenceDataVolume" serializeAs="String">
        <value>0</value>
      </setting>
    </Pronunciation.Trainer.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <Pronunciation.Trainer.Properties.Settings>
      <setting name="BaseFolder" serializeAs="String">
        <value>D:\Learn\English\Pronunciation\Trainer</value>
      </setting>
      <setting name="SampleRate" serializeAs="String">
        <value>16000</value>
      </setting>
      <setting name="SkipRecordedAudioMs" serializeAs="String">
        <value>200</value>
      </setting>
    </Pronunciation.Trainer.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
